.header_button {
    background-color: #f6f6f6;
    color: rgb(219, 201, 185);
    font-family: "Playfair Display", serif;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(219, 201, 185);
    margin-right: 20px;
    padding: 5px 15px;
}
.content-group {
    max-width: 1230px;
    margin: 0 auto;
}

/* 検索列 */
.search-group {
    margin-bottom: 10px;
}
.search-form {
    display: flex;
    gap: 7px;
    justify-content: space-between;
    padding: 10px;
}
.search-form__input,
.search-form__select {
    color: rgb(136, 121, 107);
    background-color: #f4f4f4;
    padding: 7px;
    border: none;
}
.search-form__search-button {
    background-color: rgb(130, 117, 106);
    color: #fff;
    border: none;
    padding: 3px 10px;
    width: 80px;
}
.search-form__reset-button {
    background-color: rgb(218, 198, 181);
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    width: 80px;
    border: none;
}
.search-form__reset-button a {
    color: #fff;
    text-decoration: none;
}
/* CSV・ページネーショングループ */
.foruser-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.csv_button {
    background-color: rgb(236, 233, 230);
    color: rgb(130, 117, 106);
    text-decoration: none;
    padding: 5px 10px;
    width: 120px;
    border: none;
}
.paginate-group {
    display: flex; /* ページネーションをフレックスボックスにする */
    justify-content: flex-end; /* ページネーションを右寄せ */
    margin: 0;
    padding: 0;
}
.pagination-group {
    margin: 0;
    padding: 0;
}
.pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc; /* 全体を囲むボーダー */
    border-radius: 5px;
}
.pagination li {
    margin: 0; /* 個々のページの間に隙間を作らない */
}
.pagination a,
.pagination span {
    display: inline-block;
    padding: 2px 7px; /* ボタンサイズ */
    text-decoration: none;
    color: #333;
    border-left: 1px solid #ccc; /* 各ページ番号を区切る線 */
}
.pagination li:first-child a,
.pagination li:first-child span {
    border-left: none; /* 最初のページリンクには区切り線を表示しない */
}
.pagination .active span {
    background-color: rgb(130, 117, 106); /* アクティブなページの背景色 */
    color: white;
}
.pagination li.disabled span {
    color: #999;
    cursor: not-allowed;
}
.pagination li a:hover {
    background-color: #ddd; /* ホバー時の背景色 */
}

/* 問い合わせ一覧表示テーブル */
.admin-table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.admin-table__inner {
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
}
.admin-table__row {
    border-bottom: 1px solid #ddd;
}
.admin-table__header {
    background-color: rgb(130, 117, 106);
    color: #fff;
    font-weight: 3;
    padding: 10px;
    text-align: left;
}
.admin-table__item {
    color: rgb(130, 117, 106);
    padding: 10px;
    text-align: left;
}
.modal__open-button {
    background-color: #fff;
    color: rgb(130, 117, 106);
    border: 1px solid rgb(130, 117, 106);
    border-radius: 3px;
}

/* モーダルウィンドウ */
.modal-wrapper {
}
.modal-window {
    min-width: 50%;
    width: 480px;
    margin: 0 auto;
    text-align: right;
    border: 1px solid rgb(130, 117, 106);
}
.modal__close {
    margin: 0 auto;
    text-align: right;
    margin: 10px 10px;
}
.modal__close-button {
    background-color: #fff;
    color: rgb(130, 117, 106);
    border: 1px solid rgb(130, 117, 106);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
.modal__content {
    margin: 0 auto;
    text-align: center;
    margin: 10px 40px;
}
.modal-inner {
}
.modal-ttl {
    padding: 5px;
    text-align: left;
    color: rgb(130, 117, 106);
    width: 40%;
}
.modal-data {
    text-align: left;
    padding-left: 20px;
    color: rgb(130, 117, 106);
}
.delete-form {
    margin: 0 auto;
    text-align: center;
}
.delete-button {
    background-color: rgb(170, 42, 42);
    color: #ddd;
    border: none;
    padding: 5px 10px;
    margin: 20px 0;
}
